@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@500&family=Open+Sans&family=Secular+One&family=Shadows+Into+Light&family=Yeon+Sung&display=swap");
@import "reset.css";
@import "variables.css";

body {
  font-family: "IBM Plex Sans KR", fantasy;
  background-color: rgb(145, 240, 211);
  color: var(--font-color);
  font-weight: 500;
}

.main-screen {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  align-self: center;
  color: var(--font-color);
  background-color: var(--title-color);
}

.best-poster-img {
  width: 120px;
  height: auto;
}

h1 {
  font-size: 28px;
  margin: 15px 0px;
  font-weight: 600;
  color: var(--title-color);
  background-color: var(--font-color);
}

span {
  line-height: 18px;
}

b {
  font-weight: 600;
}

.main-profile {
  display: flex;
  gap: 10px;
}

.profile-img {
  width: 150px;
  height: auto;
}

.main-title {
  font-size: 50px;
  margin: 15px;
  font-weight: 700;
}

.main-profile-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.best-table {
  width: 100%;
  border: 1px solid var(--font-color);
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  border: 1px solid var(--font-color);
  padding: 10px;
  vertical-align: middle;
  word-break: keep-all;
}

th {
  font-size: 20px;
  text-align: center;
}

.table-title {
  width: 20%;
}

.table-poster {
  width: 20%;
}

.table-intro {
  width: 50%;
}

.table-url {
  width: 10%;
}

.best-title {
  text-align: center;
}

.best-poster {
  text-align: center;
}

.best-url {
  text-align: center;
}

.guest-book {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-type-selection {
  display: flex;
  flex-direction: column;
}
